@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: auto;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(197, 240, 218));
    background-size: cover;
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.subheading {
    font: 1 rem;
    color: grey;
    align-items: center;
}

/* Nav Section */

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: black;
    font-size: 2rem;
    font-weight: bolder;
}

.logo span {
    color: rgb(113, 179, 150);
    text-shadow: 0 0 10px rgb(113, 179, 150);
}

.home-link {
    text-decoration: none; 
    color: inherit; 
  }
  
.home-link:hover {
    text-decoration: none; 
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
}

.nav-container .links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(113, 179, 150);
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .contact-btn {
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid rgb(113, 179, 150);
    transition: 0.2s linear;
}

.nav-container .contact-btn a {
    color: rgb(113, 179, 150);
    transition: 0.3s linear;
}

.nav-container .contact-btn:hover,
.nav-container .contact-btn:hover a {
    background-color: white;
    color: white;
}

.nav-container .links a:hover {
    color: rgb(113, 179, 150);
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a {
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover {
    background-color: rgb(113, 179, 150);
}

/* For testing
section { 
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: auto;
    border: 1px solid red; 
}
*/

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image {
    z-index: -1;
    width: 45%;
}

.main-container .image img {
    width: 90%;
}

.main-container .content {
    color: black;
    width: 40%;
    min-height: 100px;
}

.main-container p {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.content p {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

p {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

/* Skills Section */
.skills {
    display: flex;
    flex-wrap: wrap;
}

#skills{
    height: auto;
}

.skills-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.skills-container h1 {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.skills__skill {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 0px;
    font-weight: 600;
    color: #777;
}

/* Project Section */
.projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}

#projects {
    margin: auto;
    height: auto;
}

.projects-container > * {
    width: 100%;
    padding: 0px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.projects-container h1 {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
    padding: 10px;
}

.projects-container image {
    width: 50%;
    margin-bottom: 0px;
    margin-left: 1rem;
    margin-right: 0rem;
}

.project__row {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.project__row--reverse{
    flex-direction: row-reverse;
}

.projects__row:last-child {
    margin-bottom: 0;
}

.projects__row-img {
    flex: 1;
}

.projects__row-content {
    flex: 1 1 100%; /* Take full width on small screens */
  max-width: 100%;
  word-wrap: break-word; /* Break long words */
}

.project__image {
    flex: 1 1 100%; /* Take full width on small screens */
    max-width: 100%;
    width: 200px; /* Adjust to your preferred size */
    height: 200px; /* Adjust to maintain aspect ratio */
    object-fit: cover; /* Ensures images scale without distortion */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project__title {
    font-size: 1.8rem;
    color: #333
}

.projects__desc {
    margin: 0.5rem 0;
    color: #555
}


.btn { 
text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #71b396;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5a9d7e;
  }
  
  /* Media Query for Responsiveness */
  @media (max-width: 768px) {
    .project__row {
      flex-direction: column;
    }
  
    .project__row--reverse {
      flex-direction: column;
    }
}

/* Certifications Section */
.certifications {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

#certifications {
    margin: auto;
    height: auto;
}

.certifications-container {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    gap: 2rem;
}

.certifications-container h1 {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.certifications img {
    max-width: 300px; 
    height: auto; 
    display: block;
    margin: 2px auto;
    border-radius: 8px; /*rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*subtle shadow for style */
  }
  
/* Contact Section */

.contact {
    display: flex;
    flex-wrap: wrap;
}

#contact{
    height: auto;
}

.contact-container {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.social-links {
    text-align: center;
}


.contact-container h1 {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}
.content h1 {
    font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.content h1 span {
    color: rgb(113, 179, 150);
    text-shadow: 0 0 10px rgb(113, 179, 150);
}

p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}


.content .typewriter-text {
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
}

.content .typewriter-text span {
    color: rgb(113, 179, 150);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgb(113, 179, 150);
    position: relative;
}

.content .typewriter {
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
}

.content .typewriter span {
    color: rgb(113, 179, 150);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgb(113, 179, 150);
    position: relative;
}

.typewriter span::before {
    content: "";
    animation: words 15s infinite;
}

.typewriter span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s linear infinite;
}

/* Footer Styling */
#footer {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 20px 0; 
    margin-top: 40px;
  }
  
  #footer a {
    color: #00aced; 
    text-decoration: none;
    font-weight: bold;
  }
  
  #footer a:hover {
    color: #0077b5; 
  }
  
  .footer-container p {
    margin: 5px 0; 
    font-size: 14px;
  }
  

@keyframes cursor {
    to {
        border-left: 3px solid #71b396;
    }
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(113, 179, 150);
    border-radius: 50%;
    color: rgb(113, 179, 150);
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: white;
    background-color: rgb(113, 179, 150);
    filter: drop-shadow(0 0 10px rgb(113, 179, 150));
}

.content button {
    width: 40%;
    height: 6vh;
    margin: 30px;
    background-color: rgb(113, 179, 150);
    color: white;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    color: rgb(113, 179, 150);
    border: 2px solid rgb(113, 179, 150);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgb(113, 179, 150);
}

@media (max-width:884px) {

    nav {
        display: block; 
    }

    .nav-container{
        flex-direction: column;
        align-items: flex-start;
    }

    .home {
        display: block; 
    }

    body {
        overflow-y: visible;
    }

    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .links {
        display: flex; 
        flex-direction: column; 
    }

    .dropdown {
        transform: translateY(0); 
        position: sticky;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        display: block;
    }

    .main-container .content {
        width: 80%;
    }

    .social-links i {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .cancel {
        color: white;
    }

    .main-container .image {
        width: 80%;
        margin-bottom: 0px;
    }
}
