<nav>
  <div class="nav-container">
    <div class="logo" data-aos="zoom-in" data-aos-duration="1000">
      <a href="/index.html" class="home-link"> <span>Jaime Lu</span></a>
    </div>
    <div class="links">
      <div
        class="link"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
      >
        <a href="/index.html#home">Home</a>
      </div>
      <div
        class="link"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        <a href="/index.html#skills">Skills</a>
      </div>
      <div
        class="link"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="400"
      >
        <a href="/index.html#projects">Projects</a>
      </div>
      <div
        class="link"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="500"
      >
        <a href="/index.html#certifications">Certifications</a>
      </div>
      <div
        class="link contact-btn"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="600"
      >
        <a href="/index.html#contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <div class="links">
      <a href="/index.html#home">Home</a>
      <a href="/index.html#skills">Skills</a>
      <a href="/index.html#projects">Projects</a>
      <a href="/index.html#certifications">Certifications</a>
      <a href="/index.html#contact">Contact</a>

      <i class="fa-solid fa-xmark cancel" onclick="cancel()"></i>
    </div>
  </div>
</nav>
